@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.ads__wrapper {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (max-width: $md-breakpoint) {
    grid-column: 1 / -1;
    order: 999;
  }
  @media (max-width: $sm-breakpoint) {
    grid-column: 1 / -1;
    order: 999;
  }
}

@media screen and (min-width: 1200px) {
  br {
    &.large {
      display: block;
    }
    &.medium {
      display: none;
    }
    &.small {
      display: none;
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1199px) {
  br {
    &.large {
      display: block;
    }
    &.medium {
      display: none;
    }
    &.small {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  br {
    &.large {
      display: none;
    }
    &.medium {
      display: block;
    }
    &.small {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  br {
    &.large {
      display: none;
    }
    &.medium {
      display: none;
    }
    &.small {
      display: block;
    }
  }
}

@keyframes popHeart {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
