.homeInstagram {
    margin-top: $spacing-unit * 10;
    margin-bottom: $spacing-unit * 40;
    @media (max-width: $md-breakpoint) {
        margin-top: $spacing-unit * 6;
        margin-bottom: $spacing-unit * 12;
    }
    @media (max-width: $sm-breakpoint) {
        margin-top: $spacing-unit * 4;
        margin-bottom: $spacing-unit * 10;
    }
}
