.simpleRecipes {
    margin-top: $spacing-unit * 10;
    margin-bottom: $spacing-unit * 40;
    @media (max-width: $md-breakpoint) {
        margin-top: $spacing-unit * 6;
        margin-bottom: $spacing-unit * 12;
    }
    @media (max-width: $sm-breakpoint) {
        margin-top: $spacing-unit * 4;
        margin-bottom: $spacing-unit * 10;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: $spacing-unit * 24;
        .simpleRecipes {
            &__header {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: $spacing-unit * 6;
                .simpleRecipes__title {
                    font-size: $font-size-base * 3;
                    font-weight: $font-weight-semibold;
                    letter-spacing: -2px;
                    color: $color-black;
                }
                .simpleRecipes__desc {
                    font-size: $font-size-base;
                    font-weight: $font-weight-light;
                    color: $color-black;
                    text-align: center;
                    padding-inline: $spacing-unit * 60;
                }
            }
        }
    }
}
