.blogList {
  margin-bottom: $spacing-unit * 40;
  @media (max-width: $sm-breakpoint) {
    margin-bottom: $spacing-unit * 15;
  }
  &__content {
    .blogList__headerLayout {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $spacing-unit * 20;
      padding-block: $spacing-unit * 20;
      @media (max-width: $sm-breakpoint) {
        gap: $spacing-unit * 5;
        padding-block: $spacing-unit * 5;
      }
      .blogList {
        &__header {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: $spacing-unit * 6;
          @media (max-width: $sm-breakpoint) {
            gap: $spacing-unit * 4;
          }
          .blogList__title {
            font-size: $font-size-base * 4;
            font-weight: $font-weight-semibold;
            letter-spacing: -2px;
            color: $color-black;
            @media (max-width: $md-breakpoint) {
              font-size: $font-size-base * 2;
              letter-spacing: 0;
            }
            @media (max-width: $sm-breakpoint) {
              font-size: $font-size-base * 1.5;
              letter-spacing: -1px;
            }
          }
          .blogList__desc {
            font-size: $font-size-base;
            font-weight: $font-weight-light;
            color: $color-black;
            text-align: center;
            line-height: 1.8;
            @media (max-width: $sm-breakpoint) {
              font-size: $font-size-base * 0.875;
            }
          }
        }
      }
    }
    .blogList__contentLayout {
      .blogList__mainLayout {
        .blogList__items {
          display: flex;
          flex-direction: column;
          gap: $spacing-unit * 8;
          .blogList__item {
            display: flex;
            align-items: center;
            gap: $spacing-unit * 10;
            @media (max-width: $sm-breakpoint) {
              flex-direction: column;
              gap: $spacing-unit * 5;
            }
            &-image {
              flex: 1;
              width: 100%;
              img {
                border-radius: 20px;
                width: 100%;
              }
            }
            &-content {
              flex: 2;
              display: flex;
              flex-direction: column;
              .blogList__item-title {
                font-size: $font-size-base * 1.5;
                color: $color-black;
                font-weight: $font-weight-semibold;
                letter-spacing: -1px;
                margin-bottom: $spacing-unit * 2.5;
              }
              .blogList__item-excerpt {
                font-size: $font-size-base * 1;
                color: $color-black;
                font-weight: $font-weight-light;
                margin-bottom: $spacing-unit * 7;
              }
              .blogList__item-meta {
                display: flex;
                align-items: center;
                gap: $spacing-unit * 4;
                .blogList__item-authorInfo {
                  display: flex;
                  align-items: center;
                  gap: $spacing-unit * 4;
                  .blogList__item-authorPhoto {
                    img {
                      border-radius: 50%;
                    }
                  }
                  .blogList__item-author {
                    font-size: $font-size-base;
                    color: $color-black;
                    font-weight: $font-weight-bold;
                    padding-block: $spacing-unit * 2;
                    line-height: normal;
                    @media (max-width: $sm-breakpoint) {
                      font-size: $font-size-base * 0.85;
                    }
                  }
                }
                .blogList__item-date {
                  border-left: solid 1px $color-gray-soft;
                  padding-block: $spacing-unit * 2;
                  span {
                    font-size: $font-size-base;
                    color: $color-black;
                    font-weight: $font-weight-light;
                    padding-inline: $spacing-unit * 4;
                    line-height: normal;
                    @media (max-width: $sm-breakpoint) {
                      font-size: $font-size-base * 0.85;
                    }
                  }
                }
              }
            }
          }
        }
        .no-results {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: $spacing-unit * 4;
          h3 {
            font-weight: $font-weight-semibold;
            font-size: $font-size-base;
            color: $color-black;
          }
          p {
            font-weight: $font-weight-light;
            font-size: $font-size-base * 0.875;
            color: $color-black;
          }
        }
      }
      .blogList__sidebarLayout {
        display: flex;
        flex-direction: column;
        gap: $spacing-unit * 20;
        @media (max-width: $sm-breakpoint) {
          margin-top: $spacing-unit * 10;
          gap: $spacing-unit * 12;
        }
      }
    }
  }
}
